@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cookies</h1>

    <dl>
        @foreach (var cookie in ViewBag.Cookies)
        {
            <dt>@cookie.Key</dt>
            <dd>@cookie.Value</dd>
        }
    </dl>
    
</div>
