@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <environment names="Development">
        Application is running in Development environment.
        Change launchSettings.json file to change environment in Visual Studio.
    </environment>

    <environment names="Production">
        Application is running in Production environment.
        Change launchSettings.json file to change environment in Visual Studio.
    </environment>

    <a asp-action="Cookies">Cookies</a>

</div>
